.content {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.split {
    height: 100%;
    overflow: hidden;
}

.left {
    width: 20%;
    float: left;
    margin: 3px;
    text-align: center;
}

.right {
    width: 80%;
    float: right;
    margin: 3px;
}

.divider {
    border-left: 2px solid #000; /* Customize border properties for the vertical divider */
}

.favicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: auto;
}

.button-container {
    align-items: center;
    margin: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding-left: 10px;
}

.flex_item {
    width: 33.33%;
}