body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.split {
    height: 100%;
    overflow: hidden;
}

.left {
    width: 25%;
    float: left;
    margin: 3px;
    text-align: center;
}

.right {
    width: 75%;
    float: right;
    margin: 3px;
    display: inline-flex;
}
.divider {
    border-left: 2px solid #000; /* Customize border properties for the vertical divider */
}
.favicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: auto;
}
.button-container {
    align-items: center;
    margin: 10px;
}