pre {
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: var(--tertiary);
}